<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLYVATTU.Properties.Settings.QL_VATTU1" connectionString="Data Source=DELL-A75\SERVER1;Initial Catalog=QL_VATTU;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QLYVATTU.Properties.Settings.QL_VATTUConnectionString"
            connectionString="Data Source=DELL-A75\SERVER_0;Initial Catalog=QL_VATTU;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>